* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #FD8451, #FFBD6F);
    /* background-repeat: no-repeat; */
    color: #fff;
}

h1 {
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
}
form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background-color: #FFBD6F;
    display: flex;
    align-items: center;
}